.hidden {
  display: none;
}
:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Color back-ground*/
  --primary-bg-color: #ffffff;
  --accent-bg-cl: #2e2f42;
  --secondary-bg-color: #f4f4fd;
  /* Text color */
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --light-txt-cl: #404bbf;
  /* Btn Color */
  --primary-btn-color: #4d5ae5;
  --light-btn-cl: #404bbf;
  --secondary-btn-color: #404bbf;
  --accent-btn-cl: #f4f4fd;
  --primary-btn-text-cl: #ffffff;
  --accent-btn-txt-cl: #4d5ae5;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* reset start */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
/* common */
.container {
  max-width: 320px;
  padding: 0px 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0px 15px;
  }
}
/* Navigation */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--primary-bg-color);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-world {
  color: var(--secondary-text-color);
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contacts {
    display: block;
    font-style: normal;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: var(--light-txt-cl);
  }
  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    margin: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  fill: #2e2f42;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}
.mobile-nav {
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.mobile-nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-contacts {
  display: block;
  font-style: normal;
  margin-bottom: 24px;
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: var(--light-txt-cl);
}

.mobile-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mobile-social-item {
  width: 40px;
  height: 40px;
}
.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-btn-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--light-btn-cl);
}
.mobile-social-icon {
  fill: var(--accent-btn-cl);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
