:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Color back-ground*/
  --primary-bg-color: #ffffff;
  --accent-bg-cl: #2e2f42;
  --secondary-bg-color: #f4f4fd;
  /* Text color */
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --light-txt-cl: #404bbf;
  /* Btn Color */
  --primary-btn-color: #4d5ae5;
  --light-btn-cl: #404bbf;
  --secondary-btn-color: #404bbf;
  --accent-btn-cl: #f4f4fd;
  --primary-btn-text-cl: #ffffff;
  --accent-btn-txt-cl: #4d5ae5;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
}
/* reset start */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  margin: 0px;
  padding: 0px;
}
/* Navigation */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--primary-bg-color);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-flex {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo,
.logo-world {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.logo {
  margin-right: 76px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

.header-logo .logo-world {
  color: var(--secondary-text-color);
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 40px;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: var(--light-txt-cl);
}
.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
.contacts {
  font-style: normal;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  display: block;
  margin: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* Hero section */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: var(--accent-bg-cl);

  max-width: 1440px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .title {
  max-width: 496px;
  margin: 0 auto 48px auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;

  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-btn-cl);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--primary-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus,
.btn:active {
  color: var(--primary-btn-text-cl);
  background-color: var(--light-btn-cl);
}

/* Strategy section */
.strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}
.strategy-list {
  display: flex;
}

.strategy-item {
  width: 264px;
  margin-right: 24px;
}
.strategy-item:last-child {
  margin-right: 0;
}

.strategi-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.subtitle-decr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
/* Team section */
.team {
  margin: 0 auto;
  padding: 120px 0;
  background-color: var(--secondary-bg-color);
}
.team .title {
  margin-bottom: 72px;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item {
  width: calc((100%-72px) / 4);
  margin-right: 24px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--primary-bg-color);
}
.tem-item:last-child {
  margin-right: 0;
}
.image-discription {
  padding: 32px 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
/* Social Icon */

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-btn-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--light-btn-cl);
}
.social-icon {
  fill: var(--accent-btn-cl);
}

/* Portfolio section*/
.portfolio {
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100%-48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 360px;
  background-color: #fff;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
.portfolio .title {
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-decr {
  padding: 32px 16px;
  margin: 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer Section */
.footer-page {
  padding: 100px 0;
  margin: 0 auto;
  background-color: var(--accent-bg-cl);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.left-footer {
  margin-right: 120px;
}
.footer-page .logo,
.footer-page .logo-world {
  display: inline-block;
}
.footer-page .logo {
  margin-bottom: 16px;
}

.footer-logo .logo-world {
  color: var(--primary-bg-color);
}
.footer-page .subtitle-decr {
  max-width: 264px;
  color: #f4f4fd;
}
.footer-icons .subtitle-decr {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
}
.footer-icons .social-link:hover,
.footer-icons .social-link:focus {
  background-color: #31d0aa;
}
